---
layout: default
type: home
description: 'Personal site of Jake Harding.'
keywords: 'Jake Harding, Blog, Personal Site, Software, JavaScript, Node.js, Web Development'
---

<ul class='most-recent-posts unstyled'>
  {% for post in site.posts %}
    {% if post.category != 'tutorial' %}
      <li>
        {% assign post_title = post.title %}
        {% assign post_date = post.date %}
        {% assign post_url = post.url %}
        {% include post_header.html %}

        {% if post.description %}
          <p class='post-description'>{{ post.description }}</p>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
