// generic styling for post header
.post-header {
  .clearfix();
  .post-date {
    float: right;
    margin-left: 30px;
    font-weight: normal;
    color: @grayLight;
  }
}

.post-content {
  figure {
    margin: 40px 0;
    text-align: center;
    img {
      display: inline-block;
      .ie7-inline-block();
    }
    figcaption {
      font-style: italic;
    }
  }
}

// styling for full page posts 
.full-page-post {
  .post-header {
    margin: 0 0 20px 0;
  }
}
