
<div class='site-links'>
  <a class='blog-link {% if page.type == "blog" %} visiting {% endif %}' 
     href='/'>Blog</a>
  <a class='about-link {% if page.type == "about" %} visiting {% endif %}' 
    href='/about.html'>About</a>
  <a class='projects-link {% if page.type == "projects" %} visiting {% endif %}' 
     href='/projects.html'>Projects</a>
  <a class='tutorials-link {% if page.type == "tutorials" %} visiting {% endif %}' 
     href='/tutorials.html'>Tutorials</a>
  <a class='archive-link {% if page.type == "archive" %} visiting {% endif %}' 
     href='/archive.html'>Archive</a>
  <a class='contact-link {% if page.type == "contact" %} visiting {% endif %}' 
     href='/contact.html'>Contact</a>
</div>
