<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>

    <title>{{ page.title }}</title>

    <link rel='shortcut icon' href='/public/img/favicon.ico'>
    
    <link rel='stylesheet' href='/public/style/jharding.css'>
  </head>
  <body>
    <div class='sticky-footer-wrapper'>
      <div class='container container-main'>
        <header>
          <h1><a href='/'>{{ site.title }}</a></h1>
        </header>
        <div class='row'>
          <div class='page-content span8'> 
            {{ content }}
          </div>
          <section class='bio span4'>
            <img class='headshot' src='{{ site.IMG_PATH }}/headshot.png' />
            <p class='summary'>My name is Jake Harding and I enjoy coding.</p>
            <ul class='site-links unstyled'>
              <li><a href='/posts.html'>Posts</a></li>
              <li><a href='/projects.html'>Projects</a></li>
              <li><a href='/about.html'>About</a></li>
              <li><a href='/contact.html'>Contact</a></li>
            </ul>
          </section>
      </div>
      <div class='sticky-footer-push'></div>
    </div>
    <footer></footer>
  </body>
</html>
