<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>

    <title>{{ page.title }}</title>

    <link rel='shortcut icon' href='/public/img/favicon.ico'>
    
    <link rel='stylesheet' href='/public/style/jharding.css'>
  </head>
  <body>
    <div class='top-bar {{ page.type }}'></div>
    <div class='sticky-footer-wrapper'>
      <div class='container container-main'>
        <header>
          <h1><a href='/'>{{ site.title }}</a></h1>
        </header>
        <div class='row'>
          <div class='page-content span8'> 
            {{ content }}
          </div>
          <section class='sidebar span3 offset1'>
            <div class='site-links'>
              <a class='home-link' href='/'>Home</a>
              <a class='about-link' href='/about.html'>About</a>
              <a class='projects-link' href='/projects.html'>Projects</a>
              <a class='archive-link' href='/archive.html'>Archive</a>
              <a class='contact-link' href='/contact.html'>Contact</a>
            </div>
          </section>
      </div>
      <div class='sticky-footer-push'></div>
    </div>
    <footer></footer>
  </body>
</html>
